

$font-stack: 'Poiret One', cursive;
$font-size-extra-small: 0.8em;
$font-size-small: 1em;
$font-size-normal: 1.5em;
$font-size-middle: 2em;
$font-size-large: 4em;
$spacer: 20px;
$section-spacer: 5%;
$section-width: 90%;
$basic-color-red: #C42B2B;
$basic-color-black: #262626;
$basic-color-cream: #F7F7F2;
