/* ==========================================================================
   Hiroaki Ono Edited.
   Initialing browser difference and tag specific probrems.
   Details are under General Styling.
   ========================================================================== */
@import "variables.scss";
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   ========================================================================== */
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
/* ==========================================================================
   General Styling
   This css file is following BEM.
========================================================================== */
body{
  font-family: 'Poiret One', cursive;
  color: $basic-color-black;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: $basic-color-black;
}
/* ==========================================================================
   Header Styling
========================================================================== */
.header{
  padding: $spacer $section-spacer;
  width: $section-width;
  display: flex;
  background: $basic-color-cream;
  color: $basic-color-blue;
  .header__logo{
    .header__logo__image{
      width: 200px;
    }
  }
  .header__logo{
    margin:  0;
  }
  .header__nav{
    width: calc(90% - 200px);
    margin-left: ($spacer * 4);
    .header__nav__unordered-list{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .header__nav__unordered-list__item{
        color: $basic-color-blue;
        .header__nav__unordered-list__item__icon{
          margin-right: 10px;
        }
        .header__nav__unordered-list__item__input{
          width: 120px;
          border: 0;
        }
        a{
          color: $basic-color-blue;
          font-weight: bold;
        }
      }
    }
  }
}

/* ==========================================================================
   Footer Styling
========================================================================== */
.footer{
  padding: 0 $section-spacer;
  width: $section-width;
  display: flex;
  justify-content: flex-end;
  .footer__logo{
    display: inline-block;
    width: 70%;
    text-align: center;
    margin: ($spacer * 0.5) 0 0 0;
    .footer__logo__image{
      width: 70px;
      display: inline;
    }
    .footer__copyright{
      margin: 0;
      display: inline;
      padding: 0;
      font-size: $font-size-small;
    }
  }
}
/* ==========================================================================
   Section Company Styling
========================================================================== */
.section-company{
  width: $section-width;
  padding: $spacer $section-spacer ($spacer * 2) $section-spacer;
  text-align: center;
  .section-company__title{
    font-size: $font-size-middle;
  }
  .section-company__block{
    text-align: center;
  }
}
/* ==========================================================================
   Section Services Styling
========================================================================== */
.section-services{
  width: $section-width;
  padding: $spacer 0;
  margin: 0 $section-spacer;
  background: url('./assets/images/bg_services.png');
  text-align: center;
  background: black;
  .section-services__title-block{
    width: 100%;
    .section-services__title-block__title{
      font-size: $font-size-middle;
      font-weight: bold;
      color: white;
    }
  }
  .section-services__block{
    display: flex;
    justify-content: space-around;
    .section-services__block__item{
      text-align: center;
      width: 200px;
      .section-services__block__item__photo{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 2px solid white;
        margin: 0 auto;
      }
      .section-services__block__item__title{

      }
    }
    .section-services__block__item:nth-child(odd){
      padding-top: 150px;
    }
    .section-services__block__item:nth-child(even){
      padding-bottom: 150px;
    }
  }
}
/* ==========================================================================
   Section Constact Styling
========================================================================== */
.section-contact{
  width: $section-width;
  padding: 0 $section-spacer $spacer $section-spacer;
  .section-contact__title-block{
    background: url('../images/bg_contact.png') no-repeat;
    background-size: 100% 160px;
    text-align: center;
    padding-top: ($spacer * 3);
    height: 100px;
    .section-contact__title-block__title{
      color: white;
      font-size: $font-size-middle;
      margin: 0;
    }
  }
  .section-contact__main-block{
    display: flex;
    .section-contact__main-block__form-area{
      background: black;
      width: 60%;
      text-align: center;
      padding: ($spacer * 2) 0;
      .section-contact__main-block__form-area__input{
        display: block;
        margin: 0 auto $spacer auto;
        width: 70%;
        background: $basic-color-cream;
      }
      .section-contact__main-block__form-area__textarea{
        display: block;
        margin: 0 auto $spacer auto;
        width: 70%;
        background: $basic-color-cream;
      }
      .section-contact__main-block__form-area__btn{
        background: $basic-color-red;
        border: none;
        color: white;
        font-weight: bold;
        padding: 5px 15px;
        border-radius: 5px;
      }
    }
    .section-contact__main-block__info-area{
      width: calc(40% - 40px);
      padding: ($spacer * 2) 0 ($spacer * 2) ($spacer * 2);
      background: $basic-color-cream;
      .section-contact__main-block__info-area__name{
        font-weight: bold;
      }
      .section-contact__main-block__info-area__mail-and-phone{
        margin-bottom: ($spacer * 3)
      }
      .section-contact__main-block__info-area__unordered-list{
        display: flex;
        justify-content: space-around;
        margin-left: 0;
        padding-left: 0;
        .section-contact__main-block__info-area__unordered-list__item{
          font-size: $font-size-large;
        }
      }
    }
  }
}
