/* ==========================================================================
   Hiroaki Ono Edited.
   Initialing browser difference and tag specific probrems.
   Details are under General Styling.
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* ==========================================================================
   General Styling
   This css file is following BEM.
========================================================================== */
body {
  font-family: 'Poiret One', cursive;
  color: #1a1a1a; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #1a1a1a; }

/* ==========================================================================
   Header Styling
========================================================================== */
.header {
  padding: 0 5%;
  width: 90%;
  display: flex;
  background: #F3F3F3;
  color: #2D388B;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0; }
  .header .header__logo {
    padding: 10px 0; }
    .header .header__logo .header__logo__image {
      width: 120px; }
  .header .header__logo {
    margin: 0; }
  .header .header__nav {
    width: calc(90% - 80px);
    padding-top: 20px; }
    .header .header__nav .header__nav__unordered-list {
      width: 100%;
      display: flex;
      justify-content: flex-end; }
      .header .header__nav .header__nav__unordered-list .header__nav__unordered-list__item {
        color: #2D388B;
        margin: 0;
        padding-left: 5%; }
        .header .header__nav .header__nav__unordered-list .header__nav__unordered-list__item .header__nav__unordered-list__item__icon {
          margin-right: 10px; }
        .header .header__nav .header__nav__unordered-list .header__nav__unordered-list__item .header__nav__unordered-list__item__input {
          width: 120px;
          border: 0; }
        .header .header__nav .header__nav__unordered-list .header__nav__unordered-list__item a {
          color: #2D388B;
          font-weight: bold; }

/* ==========================================================================
   Footer Styling
========================================================================== */
.footer {
  padding: 0 5%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  background: #F3F3F3; }
  .footer .footer__logo {
    display: inline-block;
    width: 70%;
    text-align: center;
    margin: 10px 0 0 0; }
    .footer .footer__logo .footer__logo__image {
      width: 100px;
      display: inline; }
    .footer .footer__logo .footer__copyright {
      margin: 0;
      display: inline;
      padding: 0;
      font-size: 1em;
      color: #2D388B; }

/* ==========================================================================
   Section Company Styling
========================================================================== */
.section-company {
  height: calc(100vh - 100px);
  width: 90%;
  padding: 20px 5% 40px 5%;
  text-align: center;
  background: url(../images/bg_pattern.jpg);
  background-size: 100%;
  border-bottom: 40px #2D388B solid; }
  .section-company .section-company__title {
    font-size: 2em;
    color: #2D388B;
    font-weight: bold; }
  .section-company .section-company__contents-block {
    width: 100%;
    display: flex; }
    .section-company .section-company__contents-block .section-company__left-block {
      width: 60%;
      text-align: left; }
      .section-company .section-company__contents-block .section-company__left-block .section-company__subtitle {
        color: #2D388B;
        font-weight: bold;
        margin-bottom: 0; }
      .section-company .section-company__contents-block .section-company__left-block .section-company__left-block__text {
        margin-top: 0px;
        margin-bottom: 10vh; }
    .section-company .section-company__contents-block .section-company__right-block {
      width: 40%; }
      .section-company .section-company__contents-block .section-company__right-block .section-company__right-block__img {
        width: 70%; }

/* ==========================================================================
   Section Services Styling
========================================================================== */
.section-services {
  height: calc(100vh - 100px);
  width: 90%;
  padding: 20px 5% 40px 5%;
  background: url(../images/bg_pattern.jpg);
  background-size: 100%;
  border-bottom: 40px #2D388B solid; }
  .section-services .section-services__title-block {
    text-align: center; }
    .section-services .section-services__title-block .section-services__title-block__title {
      font-weight: bold;
      color: #2D388B;
      font-size: 2em; }
  .section-services .section-services__contents-block {
    display: flex; }
    .section-services .section-services__contents-block .section-services__left-block {
      width: 40%; }
      .section-services .section-services__contents-block .section-services__left-block .section-services__left-block__img {
        width: 70%; }
    .section-services .section-services__contents-block .section-services__right-block {
      width: 60%; }
      .section-services .section-services__contents-block .section-services__right-block .section-services__right-block__list-item {
        padding-bottom: 20px;
        margin-bottom: 10vh; }
  .section-services .section-services__list .section-services__list__item {
    margin-top: 10vh; }

/* ==========================================================================
   Section Constact Styling
========================================================================== */
.section-contact {
  height: calc(100vh - 100px);
  width: 90%;
  padding: 20px 5% 40px 5%;
  background: url(../images/bg_pattern.jpg);
  background-size: 100%; }
  .section-contact .section-contact__title-block {
    text-align: center; }
    .section-contact .section-contact__title-block .section-contact__title-block__title {
      font-weight: bold;
      color: #2D388B;
      font-size: 2em; }
  .section-contact .section-contact__main-block {
    display: flex; }
    .section-contact .section-contact__main-block .section-contact__main-block__form-area {
      background: #2D388B;
      width: 60%;
      text-align: center;
      padding: 40px 0; }
      .section-contact .section-contact__main-block .section-contact__main-block__form-area .section-contact__main-block__form-area__input {
        display: block;
        margin: 0 auto 20px auto;
        width: 70%;
        background: #F3F3F3; }
      .section-contact .section-contact__main-block .section-contact__main-block__form-area .section-contact__main-block__form-area__textarea {
        display: block;
        margin: 0 auto 20px auto;
        width: 70%;
        background: #F3F3F3; }
      .section-contact .section-contact__main-block .section-contact__main-block__form-area .section-contact__main-block__form-area__btn {
        background: white;
        border: none;
        color: #2D388B;
        font-weight: bold;
        padding: 5px 15px;
        border-radius: 5px; }
    .section-contact .section-contact__main-block .section-contact__main-block__info-area {
      width: calc(40% - 40px);
      padding: 40px;
      background: #F3F3F3;
      color: #2D388B; }
      .section-contact .section-contact__main-block .section-contact__main-block__info-area .section-contact__main-block__info-area__name {
        font-weight: bold; }
      .section-contact .section-contact__main-block .section-contact__main-block__info-area .section-contact__main-block__info-area__mail-and-phone {
        margin-bottom: 60px;
        color: #1a1a1a; }
      .section-contact .section-contact__main-block .section-contact__main-block__info-area .section-contact__main-block__info-area__unordered-list {
        display: flex;
        justify-content: space-between;
        margin-left: 0;
        padding-left: 0; }
        .section-contact .section-contact__main-block .section-contact__main-block__info-area .section-contact__main-block__info-area__unordered-list .section-contact__main-block__info-area__unordered-list__item {
          font-size: 2em; }
          .section-contact .section-contact__main-block .section-contact__main-block__info-area .section-contact__main-block__info-area__unordered-list .section-contact__main-block__info-area__unordered-list__item a {
            color: #2D388B; }

/*# sourceMappingURL=main.css.map */
